@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
}

:root {
  --main-bg-color: #d2fd7e;
}

::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

body {
  background-color: #000;
}

#hero {
  background-color: var(--main-bg-color);
  background-image: url("/images/mssft.svg");
  background-position: top left;
  background-size: 3.944rem;
}

@font-face {
  font-family: "TTSquaresCondensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/TTSquaresCondensed-Regular.woff2") format("woff2"),
    url("../fonts/TTSquaresCondensed-Regular.woff") format("woff"),
    url("../fonts/TTSquaresCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PexelGrotesk";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PexelGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/PexelGrotesk-Regular.woff") format("woff"),
    url("../fonts/PexelGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff"),
    url("../fonts/Inter-Medium.ttf") format("truetype");
}

@layer components {
  .font-inter {
    font-family: "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
      "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif",
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  .button {
    @apply px-6 py-3 text-xs font-medium transition-opacity duration-200 border-2 border-black font-inter;
    border-radius: 2.5rem;
  }
}

.button.button-outline {
  @apply hover:opacity-50;
}

.button.button-solid {
  @apply text-white bg-black hover:opacity-70;
}

@media (min-width: 768px) {
  #hero {
    background-image: url("/images/masksnft.svg");
    background-position: top;
    background-size: 100%;
  }
}
